<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Web Server is installed</title>
 </head>
 <body>
  <h1>Server Host Name : {{ ansible_hostname }}</h1>
  <!-- Комментарий -->
  <p>IP Address of this Server is: {{ ansible_default_ipv4.address }}</p>
 </body>
</html>